@use "/styles/sections.module.scss" as *;

.sharedMemoryContentSection {
  @extend .sectionPadding;
  max-width: 318px;
  box-sizing: content-box;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: .75rem;

  margin-bottom: 10vh;
}

.column {
  gap: 0.75rem;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .sharedMemoryContentSection {
    grid-template-columns: 1fr;
  }
}