.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
}

.text {
  font-size: 1.25rem;
  font-weight: 500;
  color: #ffffffcc;
  letter-spacing: -0.2px;
  text-align: center;
  line-height: 115%;
  opacity: 0;
  animation: fadeIn 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards 0.1s, textScale 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards 0.1s;
}

.pedant {
  opacity: 0;
  animation: fadeIn 0.3s ease-out forwards .1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes textScale {
  0% {
    transform: scale(.85);
  }
  100% {
    transform: scale(1);
  }
}